body{
  background-color: whitesmoke;
}
.card{
  background-color: pink;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}
.Nav{
  border-radius: 20px;
  background: red;
  padding: 10px;
  margin: 10px;
}
