*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
h1{
    background-color: aqua;
    padding: 20px;
    margin: 10px;
    font-size: 100px;
    width: fit-content;

}
button{
    margin: 20px;
    padding: 10px 20px;
}